.main {
  width: 348px;
  margin: 0 auto;
  color: rgb(115, 115, 115);
}

.signup {
  text-align: center;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 1px;
  padding: 0 40px 40px;
}

.signupTitle {
  background-image: url(../../public/logo.png);
  width: 200px;
  height: 70px;
  background-size: 200px;
  margin: 28px auto 0;
  cursor: pointer;
}

.signupDescription {
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
  margin: 10px 0 0;
}

.signupFacebookLogo {
  background-image: url(../../public/facebook_logo.png);
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: 20px;
  vertical-align: middle;
  margin: 0 4px 2px 0;
}

.signupOr {
  font-size: 14px;
  font-weight: 600;
  margin: 12px 0 0;
  align-items: center;
  display: flex;
}

.signupOr::before,
.signupOr::after {
  background-color: rgb(219, 219, 219);;
  content: "";
  height: 1px;
  width: 94px;
}

.signupOr::before {
  margin-right: 18px;
}

.signupOr::after {
  margin-left: 18px;
}

.signupForm {
  font-size: 12px;
}

.signupLabel {
  border: 0;
  display: flex;
  height: 36px;
  position: relative;
}

.signupInputDescription {
  left: 8px;
  line-height: 36px;
  pointer-events: none;
  position: absolute;
  transform-origin: left;
  transition: transform ease-out .1s;
}

.signupInput:not(:placeholder-shown) + .signupInputDescription {
  transform: scale(calc(10 / 12)) translateY(-10px);
}

.signupInput {
  width: 100%;
  box-sizing: border-box;
  border: solid 1px rgb(219, 219, 219);
  border-radius: 3px;
  background-color: rgb(250, 250, 250);
  height: 36px;
}

.signupInput:focus {
  border: solid 1px rgb(168, 168, 168);
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: rgb(250, 250, 250);
  height: 36px;
  padding-left: 8px;
  /* padding: 14px 0 2px 8px; */
}

.signupInput:not(:placeholder-shown) {
  padding: 14px 0 2px 8px;
}

.signupInputUnity:not(:first-child) {
  margin-top: 6px;
}

.signupForm div:first-child {
  margin-top: 16px;
}

.signupNotes {
  margin-top: 12px;
}

.signupTermsOfUse {
  margin-top: 12px;
}