.form {
  font-size: 12px;
}

.form div:first-child {
  margin-top: 16px;
}

.formNotes {
  margin-top: 12px;
}

.signupTermsOfUse {
  margin-top: 12px;
}

.errorMessages {
  padding: 0;
}

.errorMessage {
  list-style: none;
  color: rgb(237, 73, 86);
  font-size: 14px;
}
